/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.page-wrapper{
position: absolute;
top:50%;
z-index: 4;
transform: translateY(-50%);
width: 100%;
padding: 4em;
background: linear-gradient(45deg,#d9cff3,#a4d1f7);
}
